@import "tailwindcss";
@font-face {
  font-family: "dirooz";
  src: url("/fonts/Dirooz.woff2") format("woff2"),
    url("/fonts/Dirooz.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-dirroz: "dirooz";
}
@layer utilities {
  .font-dirooz {
    font-family: var(--font-dirroz), sans-serif;
  }
}

body {
  background-color: #0a0a0a;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
@keyframes Marquee {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes Marqueeright {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(300%);
  }
}
.animate-marqueeright {
  animation: Marqueeright linear infinite;
  animation-duration: 22s;
}
.animate-marquee {
  animation: Marquee linear infinite;
  animation-duration: 22s;
}
